DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
SUPABASE_URL=https://zvchpqzvofayjmcevfbe.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
PORT=8080
HOST=0.0.0.0
WEB_PORT=8080
PANEL_USER=tiaozadas
PANEL_PASSWORD=Tiaozadas@2026
MEMBER_LOGS_ENABLED=true
WELCOME_DM_ENABLED=true
EPHEMERAL_DELETE_AFTER_MS=8000
